<body>
    <div class="container" style="height: 250vh">
        <div class="row">
            <div class="col-md-10 offset=md-1">
                <div class="row">
                    <div class="col-md-5 register-left">
                        <i class="fas fa-map"></i>
                    </div>
                    
                    <div class="register-right">
                      
                            <div class="register-form center" >
                                <h2>Listar Destinos</h2>
                              <button (click)="listarDestino()" class="btn btn-primary">Listar</button> 
                              <a routerLink="/Inicio"><button type="button" class="btn btn-primary">Inicio </button></a> 
                            </div>
                            <br> 
                            <div>
                              
                                <table >
                                        <thead>
                                            <tr>
                                              <th >Destino </th>
                                              <th >Fecha Envío</th>
                                              
                                            </tr>
                                        </thead>
                                      <tr *ngFor="let tido of destinos" >
                                       
                                        <td >{{ tido.destino }}</td>
                                        <td >{{ tido.fecha_envio}}</td>
                                      
                                       </tr>	
                                    
                                  </table>
                                  
                            </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  
