<header>
    <div class="hero" style="height: 60vh"> 
       <div class="row">
           
          <ul class="main-nav">
             <li><a href="">Inicio</a></li>
             <li><a href="">Servicios</a></li>
             <li><a routerLink="/nosotros">Nosotros</a></li>
             <li><a href="">Contactos</a></li>
          </ul>
       </div>
          <h1>Tus Paquetes  <br/> Nuestra pasión</h1>
          <a href=""class="btn">Conoce más</a>
          <a href=""class="btn-left">Contáctanos</a>

      </div>
  </header> 
<section class="services">
    <h1>Servicios</h1>
    <div class="cen">
        
        <a routerLink="/CrearMercancia" > 
        <div class="service">
              
                <i class="fas fa-archive"></i>
                <h2>Crear Mercancia</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            
        </div>
        </a > 
        <div class="service" routerLink="/ModificarMercancia">
            <i class="fas fa-box-open"></i>
            <h2>Modificar Mercancia</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>

        <a routerLink="/ListarMercancia" >
        <div class="service" >
            <i class="fas fa-clipboard-list"></i>
            <h2>Listar Mercancia</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        </a>

        <div class="service" routerLink="/FiltrarMercancia">
            <i class="fas fa-barcode"></i>
            <h2>Filtrar Mercancia</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <a routerLink="/CrearVehiculo">
            <div class="service">
                <i class="fas fa-truck"></i>
                <h2>Crear Vehiculo</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
        </a>
       
        <div class="service" routerLink="/ModificarVehiculo">
            <i class="fas fa-pencil-alt"></i>
            <h2>Modificar Vehiculo </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="service" routerLink="/ListarVehiculo">
            <i class="fas fa-tasks"></i>
            <h2>Listar Vehiculo</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="service" routerLink="/FiltrarVehiculo">
            <i class="fas fa-truck-monster"></i>
            <h2>Filtrar Vehiculo</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div routerLink="/CrearConductor" class="service">
            <i class="fas fa-id-card"></i>
            <h2>Crear Conductor</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="service" routerLink="/ModificarConductor">
            <i class="fas fa-user-cog"></i>
            <h2>Modificar Conductor</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>

        <div class="service" routerLink="/ListarConductor">
            <i class="far fa-address-book"></i>
            <h2>Listar Conductor</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>

        <div class="service" routerLink="/FiltrarConductor">
            <i class="fas fa-user-tag"></i>
            <h2>Filtrar Conductor</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div routerLink="/CrearEnvio" class="service">
            <i class="fas fa-shipping-fast"></i>
            <h2>Crear Envío</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="service" routerLink="/ModificarEnvio">
            <i class="fas fa-dolly"></i>>
            <h2>Modificar Envío</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>

        <div routerLink="/ListarEnvio" class="service">
            <i class="fas fa-receipt"></i>
            <h2>Listar Envío</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>

        <div class="service" routerLink="/FiltrarEnvio">
            <i class="fas fa-dolly-flatbed"></i>
            <h2>Filtrar Envío</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div routerLink="/ListarDestino" class="service">
            <i class="fas fa-map"></i>
            <h2>Listar Destinos</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="service" routerLink="/InfoVehiculo">
            <i class="fas fa-chart-pie"></i>
            <h2>Informe Vehiculo</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>

        <div class="service" routerLink="/InfoMercancia">
            <i class="fas fa-chart-bar"></i>
            <h2>Informe Mercancia</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>

        <div class="service" routerLink="/FiltrarDestino">
            <i class="fas fa-globe-americas"></i>
            <h2>Filtrar Destino</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="testimonials">
        <div class="inner">
            <h1>Testimonios</h1>
            <div class="borderTes"></div>
            <div class="rowTes">
                <div class="colTes">
                    <div class="testimonial">
                        <img src="assets/persona.jpg" alt="">
                        <div class="name">Alejandra Cortés</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> 
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>

                <div class="colTes">
                    <div class="testimonial">
                        <img src="assets/persona2.jpg" alt="">
                        <div class="name">Nicolás Mantilla</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i> 
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>

                <div class="colTes">
                    <div class="testimonial">
                        <img src="assets/persona3.jpg" alt="">
                        <div class="name">Samantha Beltrán</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i> 
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>


</footer>



