<section class="testimonials">
  <div class="testimonials">
      <div class="inner">
        <img src="assets/logod.png" alt="">
          <div class="borderTes"></div>
          <div class="rowTes">
              <div class="colTes">
                  <div class="testimonial">
                      <div class="name">MISIÓN</div>
                      <p>Satisfacer totalmente las necesidades de logística y 
                        comunicación integral de nuestros Clientes, a través de 
                        la excelencia en el servicio, el desarrollo integral de 
                        nuestros Líderes de Acción y el sentido 
                        de compromiso con nuestra familia y nuestro País.</p>
                  </div>
              </div>

              <div class="colTes">
                  <div class="testimonial">
                      
                      <div class="name">VISIÓN</div>
                      
                      <p>Queremos que Servientrega sea un modelo de empresa 
                        líder en servicios de logística y comunicación, 
                        por seguridad, oportunidad y cubrimiento en América,
                         con presencia competitiva a nivel mundial.</p>
                  </div>
              </div>

              <div class="colTes">
                  <div class="testimonial">
                      
                      <div class="name">POLÍTICA INTEGRAL</div>
                      
                      <p>Basados en nuestro direccionamiento estratégico
                         del Octavo Quinquenio "Convergencia" orientados 
                         a la transformación digital y al fortaleciendo 
                         del estándar gerencial Modelo "S", 
                        nos comprometemos a satisfacer las necesidades y e
                        xpectativas de las partes interesadas mediante</p>
                  </div>
              </div>
          </div>
      </div>
      
      <a routerLink="/Inicio"><button type="button" class="btn btn-primary">Inicio </button></a>
    
  </div>
</section>