<body>
    <div class="container" style="height: 300vh">
        <div class="row">
            <div class="col-md-10 offset=md-1">
                <div class="row">
                    <div class="col-md-5 register-left">
                        <i class="far fa-address-book"></i>
                    </div>
                    
                    <div class="register-right">
                      
                            <div class="register-form center" >
                                <h2>Listar Registros de Conductor</h2>
                              <button (click)="listarConductor()" class="btn btn-primary">Listar</button> 
                              <a routerLink="/Inicio"><button type="button" class="btn btn-primary">Inicio </button></a> 
                            </div>
                            <br> 
                            <div>
                              
                                <table >
                                        <thead >
                                            <tr>
                                              <th >id </th>
                                              <th >TipDoc</th>
                                              <th >Número</th>
                                              <th >Primer Nombre</th>
                                              <th >Segundo Nombre</th>
                                              <th >Primer Apellido</th>
                                              <th >Segundo Apellido</th>
                                              <th >Direccion</th>
                                              <th >Télefono</th>
                                              <th >Licencia</th>
                                              <th >Fecha Venci</th>
                                              <th >Estado</th>
                                            </tr>
                                        </thead>
                                      <tr *ngFor="let tido of conductores" >
                                       
                                        <td >{{ tido.id_conductor }}</td>
                                        <td >{{ tido.id_tipo_documento}}</td>
                                        <td >{{ tido.numero_documento}}</td>
                                        <td >{{ tido.primer_nombre }}</td>
                                        <td >{{ tido.segundo_nombre}}</td>
                                        <td >{{ tido.primer_apellido}}</td>
                                        <td >{{ tido.segundo_apellido}}</td>
                                        <td >{{ tido.direccion}}</td>
                                        <td >{{ tido.numero_telefono}}</td>
                                        <td >{{ tido.numero_licencia}}</td>
                                        <td >{{ tido.fecha_venci_licencia}}</td>
                                        <td >{{ tido.estado}}</td>
                                       </tr>	
                                    
                                  </table>
                                  
                            </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  